//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 14 19:17:28 2024
//! **************************************************************************

SCHEMATIC START;
COMP "INPUT<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "INPUT<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "INPUT<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "INPUT<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "INPUT<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "INPUT<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "INPUT<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "INPUT<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "OUTPUT<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "OUTPUT<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "OUTPUT<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "OUTPUT<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "OUTPUT<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "OUTPUT<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "OUTPUT<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "OUTPUT<7>" LOCATE = SITE "R4" LEVEL 1;
SCHEMATIC END;

